body, html {
    height: 100vh;
    font-size: 3vh;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.background {
    background-image: url('./students-illustration.jpg');
    background-position: center;
    height: 100%;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 70%;
    width: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1.5em;
    min-width: min-content;
    min-height: min-content;
}

button {
    margin: 1vh 0;
    padding: 0.8vh 1vh;
    width: 6vw;
    min-width: fit-content;
}

.panel {
    width: 50%;
    padding: 3vh 3vw;
}

.saved-section {
    border:1px solid dimgray;
    border-radius: 1vh;
    padding: 0.5vh 1vw;
    margin: 6vh 0;
    display: none;
}

input, p {
    margin: 2vh 0;
}

hr {
    margin-bottom: 3vh;
}

.error {
    color: red;
    font-size: smaller;
    font-weight: bold;
    display: none;
}